* {
	font-family: "微软雅黑" !important;
	color: #5C5C5C;
	font-size: 12px;
}

a {
	color: #5C5C5C;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	height: 300px
}

.navbar-brand {
	padding: 5px 15px !important;
}

.expander {
	border: 1px solid black;
	width: 250px;
}

.expander>.title {
	background-color: black;
	color: white;
	padding: .1em .3em;
	cursor: pointer;
}

.expander>.body {
	padding: .1em .3em;
}

.center {
	width: 1000px;
	margin: 0 auto;
}

.header_center {
	padding-top: 0px;
}

.navigate .left {
	float: left;
}

.navigate .left img {
	margin-top: 20px;
}

.navigate .right {
	float: right;
}

.right_search {
	margin-top: 15px;
	display: -webkit-box;
}

.right_top {
	text-align: right;
	margin-top: 5px;
}

.search_key {
	width: 240px;
	height: 36px;
	text-indent: 25px;
	border: 1px solid #B0B0B0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.goto {
	height: 36px;
	line-height: 36px;
	/*display: inline-block;*/
	background: #C30D24;
	color: #fff;
	width: 72px;
	text-align: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor:pointer;
	/*margin-left:-5px;*/
}

.login {
	margin: 0 15px;
}

.menu {
	margin-top: 20px;
	padding: 0px;
	margin-left: -10px;
	margin-bottom: 0px;
}

.menu li {
	display: inline-block;
	width: 100px;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	padding-bottom: 5px;
	border-bottom: 3px solid #fff;
}

.menu li a {
	font-size: 16px;
	font-weight: 900;
	color: #5C5C5C;
	display: inline-block;
	width: 100px;
}

.menu li:hover {
	color: #C30D24;
	border-bottom: 3px solid #C30D24;
	cursor: pointer;
}

.menu_a {
	margin-top: 20px;
	padding: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
	display: inline-block;
}

.menu_a li {
	display: inline-block;
	width: 150px;
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	padding-bottom: 5px;
	border-bottom: 3px solid #fff;
}

.menu_a li:hover,
.menu_a .active {
	color: #C30D24;
	border-bottom: 3px solid #C30D24;
	cursor: pointer;
}

.am-slides img {
	height: 300px;
}

.carousel_home {
	margin-top: -0px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 9998;
}

.fix_header {
	height: 142px;
}

.shadow {
	position: absolute;
	left: 0;
	bottom: -2px;
	right: 0;
	width: 100%;
	height: 2px;
	border-top: 1px solid #d6d6d6;
	background-color: rgba(0, 0, 0, .06);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#11000000', endColorstr='#11000000');
	overflow: hidden;
}

.shadow_a {
	width: 100%;
	height: 2px;
	border-top: 1px solid #d6d6d6;
	background-color: rgba(0, 0, 0, .06);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#11000000', endColorstr='#11000000');
	overflow: hidden;
}

footer {
	width: 100%;
	height: 300px;
	background-image: url(../image/world.jpg);
	padding-top: 35px;
}

footer ul {
	width: 190px;
}

footer li {
	width: 190px;
	line-height: 2;
}

footer li a {
	cursor:pointer;
	
}

footer li a:link {
	text-decoration: none !important;
}

footer li a:visited {
	text-decoration: none !important;
}

footer li a:active {
	text-decoration: none !important;
}

footer dd {
	float: left;
}

footer h1 {
	font-size: 12px;
	width: 100px;
	display: inline-block;
}

.footer_center {}

.widget {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 38px;
	background: #1F2B5B;
	z-index: 9999;
}

.widget ul {
	padding-left: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 38px;
}

.widget li {
	text-align: center;
	width: 38px;
	margin-bottom: 30px;
	cursor: pointer;
}

ul {
	list-style: none;
}

h1 {
	margin: 0;
}

.footer_header {}

.footer_icon {
	width: 28px;
	height: 28px;
}

.footer_right_icon {
	width: 22px;
	height: 22px;
}

.footer_h1 {
	margin-bottom: 15px;
	margin-left: -32px;
	display: -webkit-box;
}

.footer_bottom {
	height: 35px;
	line-height: 35px;
	background: #595656;
	width: 100%;
	text-align: center;
	color: #fff;
}

.f_icon {
	width: 250px;
	margin-top: -11px;
}

.f_icon section {
	width: 100px;
	display: inline-block;
	padding-top: 7px;
}

.qrcode {
	width: 60px;
	height: 60px;
}

.widget_icon {
	width: 28px;
}

.nav_div {
	position: fixed;
	top: 142px;
	left: 0px;
	background: rgba(255, 255, 255, 0.9);
	z-index: 9998;
	width: 100%;
	box-shadow: 0px 1px 3px #888888;
}

.nav_div ul {
	width: 130px;
}

.nav_div li {
	width: 130px;
	line-height: 2;
	font-size: 12px;
	padding-left: 25px;
}

.nav_div dd {
	float: left;
}

.nav_div h1 {
	font-size: 14px;
	width: 100px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}

.none {
	display: none;
}

.header_a {
	font-size: 16px;
	font-weight: bold;
	color: #1E2B58;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 6px;
}

.more {
	font-size: 14px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 20px;
	cursor:pointer;
}

.home_section {
	position: relative;
}

.home_icon {
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

.home_header {
	height: 55px;
}

.home_service {
	padding-left: 0;
}

.home_service li {
	display: inline-block;
	text-align: center;
	width: 121px;
}

.home_service p {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

.query_service {
	padding-left: 25px;
	padding-top: 23px;
}

.query_service li {
	display: inline-block;
	text-align: center;
	width: 110px;
}

.query_service p {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

.query_service .service_icon {
	width: 60px;
	margin-top: 0px;
}

.home_service .service_icon {
	width: 90px;
	margin-top: 30px;
}

.home_service .service_icon:hover {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-transform: scale(1.2, 1.2);
}

.linkus {
	display: -webkit-box;
	padding-top: 8px;
}

.linkus_left {
	width: 500px;
	height: 340px;
	border: 1px solid #D0D0D0;
	padding: 36px;
}

.linkus_left p {
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}

.top_header {
	display: inline-block;
}

.linkus_left input {
	border-radius: 4px;
	border: 1px solid #B0B0B0;
	width: 201px;
	height: 30px;
	margin-top: 5px;
}

.linkus_left textarea {
	width: 426px;
	height: 130px;
	border-radius: 4px;
	margin-top: 5px;
}

.input_right {
	margin-left: 20px;
}

.bottom_text {
	margin-top: 10px;
}

.submit_link {
	width: 426px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #1F2B5B;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	cursor:pointer;
}

.linkus_center {
	padding: 0 20px;
}

.linkus_right {
	border-top: 8px solid #1F2B5B;
	width: 230px;
	height: 339px;
	background-color: #E6EAEB;
	text-align: center;
	padding: 20px 10px;
	position: relative;
}

.linkus_rbottom {
	position: absolute;
	width: 100%;
	height: 85px;
	background-color: #CDD6DB;
	bottom: 0;
	left: 0;
}

.linkus_imgrbottom {
	position: absolute;
	width: 100%;
	bottom: 85px;
	left: 0;
}

.linkus_right h1 {
	font-size: 14px;
	color: #1F2B5B;
	margin-top: 10px;
}

.linkus_right p {
	font-size: 14px;
	color: #1F2B5B;
	margin-top: 30px;
}

.mid {
	width: 230px;
	height: 160px;
	border: 1px solid #D0D0D0;
	text-align: center;
	padding: 20px;
}

.mid img {
	width: 64px;
}

.mid p {
	color: #1F2B5B;
	font-weight: bold;
	font-size: 14px;
	margin: 5px;
}

.mid_bottom {
	margin-top: 20px;
}

.qrcode_l {
	width: 80px;
	margin-top: 30px;
}

.linkus_right_bottom {
	border-radius: 4px;
	border: 1px solid #B0B0B0;
	width: 206px;
	height: 30px;
	margin-top: 10px;
	text-indent: 10px;
}

.linkus_right_box {
	display: -webkit-box;
	padding-left: 12px;
	padding-top: 5px;
}

.linkus_right_box input {
	width: 126px;
	height: 30px;
	text-indent: 10px;
	border: 1px solid #B0B0B0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.linkus_right_box div {
	height: 30px;
	line-height: 30px;
	/*display: inline-block;*/
	background: #1F2B5B;
	color: #fff;
	width: 80px;
	text-align: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor:pointer;
	/*margin-left:-5px;*/
}

.left_icon {
	width: 38px;
}

.left_nav {
	position: fixed;
	top: 683px;
	left: 10px;
	border-top: 8px solid #C30D23;
	padding: 15px 0;
}

.left_nav li {
	padding: 5px 0;
	text-align: center;
}

.left_nav p {
	margin: 5px;
	font-size: 12px;
}

.left_path {
	position: relative;
}

.float_common {
	position: fixed;
	right: 50px;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 8px #888888;
	width: 140px;
	padding: 10px;
}

.float_1 {
	bottom: 120px;
}

.float_common img {
	width: 120px;
}

.float_common p {
	margin: 0;
}

.float_common div {
	width: 120px;
	height: 30px;
	line-height: 30px;
	background: #1F2A58;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.float_2 {
	bottom: 40px;
}

.query {
	height: 560px;
	position: relative;
	width: 1000px;
	margin: -560px auto 0 auto;
}

@media only screen and (max-width: 1760px) {
	.query {
		height: 450px;
		margin: -450px auto 0 auto !important;
	}
	.query_div {
		top:90px !important;
	}
}

.notice_div {
	position: absolute;
	top: 50px;
	width: 530px;
	height: 36px;
	line-height: 36px;
	right: 5px;
	background-color: #BF0F24;
	display: -webkit-box;
}

.notice_div img {
	width: 25px;
	margin: -3px 10px 0 10px;
}

.notice_div p {
	width: 80px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	margin-top: 0;
}

.notice_div marquee {
	width: 380px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.query_div {
	position: absolute;
	top: 100px;
	width: 535px;
	height: 360px;
	right: 0;
}

.query_left {
	width: 140px;
	float: left;
}

.query_left ul {
	padding-left: 0;
}

.query_left .active {
	color: #1F2A58;
	background: #fff;
}

.query_left li {
	width: 140px;
	height: 87px;
	line-height: 87px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background-color: rgba(31, 42, 88, 0.8);
}

.li_1 {
	margin-top: 4px;
}

.query_right {
	width: 390px;
	height: 360px;
	background: #fff;
	float: left;
}

.page_left {
	width: 250px;
	float: left;
}

.path,
.path span {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 40px;
}

.path span a {
	font-size: 14px;
}

.page_right {
	float: left;
	border: 1px solid #E6EAED;
	width: 730px;
	margin-left: 20px;
	padding: 24px 30px;
	position: relative;
}

.page_right > div > p {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}

.page_right div span {
	font-size: 14px;
}

.page_right strong {
	font-size: 16px;
}

.page_right h1 {
	position: relative;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	color: #202B59;
	font-weight: bold;
	padding: 0 20px;
}

.page_right h4 {
	position: relative;
	line-height: 34px;
	font-size: 16px;
	color: #202B59;
	font-weight: bold;
	padding: 0 20px;
	width: 100%;
	text-align: center;
	margin: 0;
}

.page_right h5 {
	position: relative;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	color: #6E6E6E;
	font-weight: normal;
	padding: 0 20px;
	width: 100%;
	text-align: center;
	margin: 0;
}

.stateitem {
	width: 100%;
	height: 100px;
	position: relative;
	margin-top: 10px;
}

.return {
	width: 110px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-weight: bold;
	background: #1F2B5B;
	text-align: center;
	font-size: 14px;
	border-radius: 8px;
	position: absolute;
	right: 0;
	display: inline-block;
	cursor: pointer;
	bottom: 30px;
	right: 20px;
}

.changePage {
	position: absolute;
	cursor: pointer;
	bottom: 30px;
	left: 20px;
}

.changePage>p {
	margin: 5px;
	font-size: 14px;
	width: 400px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
}

.nav_navigate {
	width: 240px;
	background: #E6EAEB;
	padding-bottom: 20px;
}

.nav_navigate dl {
	padding-top: 25px;
}

.nav_navigate dt {
	position: relative;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	color: #202B59;
	font-weight: bold;
	padding: 0 20px;
}

.nav_navigate dt>a {
	position: relative;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	color: #202B59;
	font-weight: bold;
}

.nav_navigate dt img {
	position: absolute;
	width: 15px;
	right: 20px;
	top: 5px;
}

.nav_navigate dt hr {
	margin: 0;
	height: 3px;
	border: none;
	border-top: 3px double #D5D9DC;
}

.nav_navigate dd ul {
	margin-top: 10px;
	padding-left: 0;
}

.nav_navigate dd li {}

.nav_navigate dd a {
	font-size: 14px;
	padding: 5px 0 5px 35px;
	display: inline-block;
	width: 100%;
	font-weight: bold;
}

.nav_navigate dd img {
	width: 15px;
	position: absolute;
	right: 12px;
	top: 8px;
}

.nav_navigate dd .active {
	background-color: #fff;
	color: #C20C23;
	border-left: 3px solid #C20C23;
	padding-left: 32px;
	position: relative;
}

.nav_shadow {
	height: 2px;
	border-top: 1px solid #d6d6d6;
	background-color: rgba(0, 0, 0, .06);
	filter: progid: DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#11000000', endColorstr='#11000000');
	overflow: hidden;
}

.content_page {
	margin-bottom: 40px;
}

.listitem {
	padding-left: 0;
}

.listitem li {
	cursor: pointer;
}

.listitem .dateclass {
	width: 90px;
	height: 30px;
	line-height: 30px;
	background: #C30D23;
	color: #fff;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.listitem .dateclass .img1 {
	position: absolute;
	height: 30px;
	right: -30px;
}

.listitem .dateclass .img2 {
	position: absolute;
	height: 75px;
	right: -40px;
}

.listitem hgroup {
	display: inline-block;
	width: 520px;
	margin-left: 50px;
}

.listitem hgroup:hover {
	text-shadow: 0px 0px 3px #B6B6B6;
}

.listitem h2 {
	margin: 5px 0 10px 0;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
}

.listitem h3 {
	margin: 0 0 0 0;
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	height: 40px;
}

.listitem_faq {
	padding-left:0;
}

.listitem_faq hgroup {
	display: inline-block;
	margin-bottom: 20px;
}

.listitem_faq hgroup:hover {
	text-shadow: 0px 0px 3px #B6B6B6;
}

.listitem_faq h2 {
	display: inline-block;
	border-left:8px solid #C30D24;
	color:#C30D24;
	text-indent: 10px;
	margin: 5px 0 10px 0;
	font-size: 14px;
}

.listitem_faq h3 {
	margin: 0 0 0 0;
	font-size: 14px;
	text-indent: 18px;
	font-weight: normal;
	line-height: 1.5;
}

.listitem_cal {
	padding-left:0;
}

.listitem_cal hgroup {
	display: inline-block;
	margin:0 0 20px 50px;
}

.listitem_cal h2 {
	display: inline-block;
	border-left:3px solid #C30D24;
	color:#1E2B5A;
	text-indent: 4px;
	margin: 5px 0 10px 0;
	font-size: 16px;
}

.am-pagination>.am-active>a,
.am-pagination>.am-active>a:focus,
.am-pagination>.am-active>a:hover,
.am-pagination>.am-active>span,
.am-pagination>.am-active>span:focus,
.am-pagination>.am-active>span:hover {
	background-color: #C30D23;
	border-color: #C30D23;
}

.am-pagination>li {
	cursor: pointer;
}

.false_img {
	margin-left: -30px;
	margin-top: -20px;
	width: 728px;
}

.weather_img {
	margin-left: -30px;
	margin-top: -25px;
	width: 730px;
	margin-bottom: 45px;
}

.fc-basic-view .fc-body .fc-row {
	min-height: 6rem;
}

.qn {
	padding-left: 0;
	margin-top: 8px;
	margin-bottom: 0;
}

.qn li {
	display: inline-block;
	text-align: center;
	width: 333px;
	cursor:pointer;
}

.qn p {
	text-align: left;
	margin: 10px 0;
	font-size: 16px;
	padding-left: 5px;
}

.qn h1 {
	text-align: left;
	margin-top: 10px;
}

.qn div {
	position: relative;
	padding-left: 5px;
}

.qn div img {
	position: absolute;
	right: 10px;
	top: 0;
	width: 20px;
}

.qn>li>figure>img {
	width:325px;
	height:200px;
}

.port {
	padding-left: 0;
	margin-top: 8px;
}

.port li {
	display: inline-block;
	text-align: center;
	width: 333px;
	margin-bottom: 70px;
	cursor: pointer;
}

.port li img {
	width: 325px;
	margin-bottom: 10px;
}

.port li img:hover {
	box-shadow: 0px 0px 8px #888888;
}

.port>li>hgroup {
	margin-top: -150px;
	color: #fff;
}

.port>li>hgroup>h1 {
	font-size: 30px;
	color: #FFF;
	font-weight: normal;
	margin: 10px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.port>li>hgroup>h2 {
	font-size: 18px;
	margin: 5px;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.pro_left {
	width: 325px;
	padding-top: 8px;
	float: left;
}

.pro_left>div {
	position: relative;
	margin-top: -5px;
}

.pro_left div p {
	width: 240px;
}

.pro_left>img {
	width: 325px;
	height: 477px;
}

.pro_left>div>hgroup {
	position: absolute;
	right: 0;
	top: 0;
}

.pro_left>div>h1 {
	font-size: 14px;
	width: 250px;
	margin-top: 5px;
}

.pro_left>div>hgroup>img {
	width: 70px;
	cursor: pointer;
	margin-top: 10px;
}

.pro_left>div>hgroup>h1 {
	font-size: 16px;
	color: #EF7B00;
}

.pro_left>div>hgroup>h1>span {
	font-size: 12px;
	color: #EF7B00;
	font-weight: normal;
}

.pro_right {
	width: 670px;
	padding-top: 8px;
	float: left;
}

.pro_right>div {
	display: inline-block;
	width: 332px;
	padding-left: 10px;
}

.pro_right div p {
	width: 220px;
}

.pro_right>div>img {
	width: 325px;
}

.pro_right>div>div {
	position: relative;
	margin-top: -9px;
	margin-bottom: 0;
}

.pro_right>div>div>hgroup {
	position: absolute;
	right: 0;
	top: 0;
}

.pro_right>div>div>h1 {
	font-size: 14px;
	width: 250px;
	margin-top: 5px;
}

.pro_right>div>div>hgroup>img {
	width: 70px;
	cursor: pointer;
	margin-top: 10px;
}

.pro_right>div>div>hgroup>h1 {
	font-size: 16px;
	color: #EF7B00;
}

.pro_right>div>div>hgroup>h1>span {
	font-size: 12px;
	color: #EF7B00;
	font-weight: normal;
}

.calg>h1 {
	font-size: 14px;
	color: #C30D23;
	font-weight: bold;
	padding: 0;
}

.calg>h1>img {
	width: 20px;
	margin-right: 10px;
}

.calg>h2 {
	font-size: 14px;
	color: #C30D23;
	font-weight: normal;
	margin-top: 0;
	text-indent: 30px;
}

.news_home {
	width: 1000px;
	height: 226px;
	background-image: url('../../src/image/newsbg.jpg');
	margin-top: 8px;
	margin-bottom: 20px;
}

.news_left {
	width: 500px;
	float: left;
}

.news_left>p {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 0;
}

.news_list {
	display: -webkit-box;
	margin: auto;
}

.news_list>ul {
	margin-top: 0;
	margin-bottom: 0;
}

.news_ul_left {
	padding-right: 5px;
}

.news_ul_right {
	padding-left: 5px;
}

.news_list>ul>li {
	height: 28px;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	cursor: pointer;
}

.news_ul_left>li {
	text-align: right;
}

.news_more {
	width: 170px;
	background: #fff;
	border-radius: 4px;
	height: 22px;
	line-height: 22px;
	margin: auto;
	text-align: center;
	font-size: 14px;
	color: #3A4771;
	font-weight: bold;
	cursor: pointer;
}

.news_right {
	float: left;
	width: 500px;
}

.news_right>p {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 0;
}

.news_right>p>img {
	width: 23px;
	margin-right: 10px;
}

.notice_home {
	margin-top: 5px;
	margin-left: 70px;
	width: 370px;
	height: 167px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	padding: 10px;
}

.notice_home p {
	font-size: 12px;
	cursor: pointer;
	margin:5px 0;
}

.newsitem {
	padding-left: 0;
	margin-top: -6px;
}

.newsitem li {
	cursor: pointer;
	text-align: left;
}

.newsitem .dateclass {
	width: 245px;
	height: 30px;
	line-height: 35px;
	color: #A7A7A7;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-indent: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	text-indent: 35px;
}

.newsitem .dateclass span {
	margin-left: 10px;
	color: #A7A7A7;
	font-size: 12px;
}

.newsitem .dateclass .img2 {
	position: absolute;
	width: 26px;
	left: 0;
}

.newsitem hgroup {
	display: inline-block;
	width: 120px;
}

.newsitem li :hover {
	text-shadow: 0px 0px 3px #B6B6B6;
}

.newsitem h2 {
	margin: 8px 0 10px 0;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	color: #A7A7A7;
	font-weight: normal;
}

.float_line {
	left: -270px;
	top: 200px;
	position: absolute;
}

.nav_left_top {
	display: -webkit-box;
}

.nav_left_top>p {
	margin-left: 15px;
	margin-top: 3px;
	font-size: 14px;
	font-weight: bold;
}

.nav_left_top>img {
	margin-left: 0px;
}

.title_top {
	min-height: 500px;
}

#post {
	margin-bottom: 80px;
}

.static_post {
	margin-top:10px;
}

#line_more {
	width:100%;
	text-align: right;
	cursor:pointer;
	padding:10px 20px 0 0;
	margin-bottom:0;
}

#line_more:hover {
	color:#3A4771;
}

.lineitem {
	margin-top:5px;
}

.lineitem li{
	border-top:1px solid #D2D2D3;
	padding:3px;
	width:345px;
	display: -webkit-box;
}

.lineitem .active{
	background-color: #E6EAED;
}

.line_right {
	margin-left:10px;
}

.line_cruise {
	width:100px;
}

.line_right p{
	margin: 0;
}

.line_rightr {
	margin-left:10px;
}

.line_rightr p{
	margin: 0;
}

.line_left {
	text-align: center;
}

.note_title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 0;
	width:670px;
}

.note_title li{
	display: inline-block;
	width: 25%;
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
	background: #fff;
	border:1px solid #E6EAED;
	box-sizing: border-box;
}

.note_title li:hover,.note_title .active {
	color: #C30D24;
	border-bottom: 2px solid #C30D24;
	cursor: pointer;
}

.note_post {
	padding-top:100px;
}
