<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>上海邮轮中心后台管理</title>
		<script src="../src/framework/jquery-1.9.1.js"></script>
		<script src="../src/framework/bootstrap-3.0.0/js/bootstrap.min.js"></script>
		<script src="../src/framework/amazeui/amazeui.min.js"></script>

		<script type="text/javascript" src="../src/framework/Kindeditor/kindeditor-min.js"></script>
		<script type="text/javascript" src="../src/framework/Kindeditor/lang/zh_CN.js"></script>
		<script type="text/javascript" src="../js/check.js"></script>
		<link rel="stylesheet" href="../src/framework/amazeui/amazeui.min.css" />

		<link rel="stylesheet" href="../src/css/admin.css">
		<script src="../src/js/admin.js"></script>
	</head>

	<body>
		<div>
			<header class="am-topbar am-topbar-inverse admin-header">
				<div class="am-topbar-brand">
					<strong>上海邮轮中心</strong> <small>后台管理系统</small>
				</div>

				<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

				<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

					<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
						<li><a href="javascript:;"><span class="am-icon-user"></span> 当前用户 <span id="cname"></span></a></li>
						<li><a href="#" onclick="exit()"><span class="am-icon-power-off"></span> 退出</a></li>
					</ul>
				</div>
			</header>
			<div class="am-cf admin-main">
				<!-- sidebar start -->
				<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
					<div class="am-offcanvas-bar admin-offcanvas-bar">
						<ul class="am-list admin-sidebar-list">
							<li><a href="home"><span class="am-icon-home"></span> 首页</a></li>
							<li><a href="view_news"><span class="am-icon-pencil-square-o"></span> 热点新闻</a></li>
							<li><a href="view_notice"><span class="am-icon-pencil-square-o"></span> 紧急公告</a></li>
							<li><a href="view_travel"><span class="am-icon-pencil-square-o"></span> 文章游记</a></li>
							<li><a href="view_static"><span class="am-icon-pencil-square-o"></span> 静态内容</a></li>
							<li><a href="view_faq"><span class="am-icon-pencil-square-o"></span> 常见问题</a></li>
						</ul>
					</div>
				</div>
				<!-- sidebar end -->
				<!-- content start -->
				<div class="admin-content" ng-controller="AdminController">
					<div class="admin-content-body">
						<%- body %>
					</div>
				</div>
				<!-- content end -->
			</div>
		</div>

		<div class="am-alert am-alert-danger none errorinfo" data-am-alert></div>
		<div class="am-alert am-alert-success none successinfo" data-am-alert></div>
		<div class="am-alert am-alert-warning none loadinfo" data-am-alert></div>

		<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">数据加载中...</div>
				<div class="am-modal-bd">
					<span class="am-icon-spinner am-icon-spin"></span>
				</div>
			</div>
		</div>
	</body>

</html>