<div class="am-cf am-padding">
	<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">邮轮领队表</strong> / <small>表单</small></div>
</div>
<div class="am-form bg-form">

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			姓名
			<input type="text" id="name" class="am-input-sm" />
		</div>
	</div>
	
	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			领队证号
			<input type="text" id="no" class="am-input-sm" />
		</div>
	</div>

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			电话
			<input type="text" id="tel" class="am-input-sm" />
		</div>
	</div>

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			微信
			<input type="text" id="weixin" class="am-input-sm" />
		</div>
	</div>

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			图片
			<input type="text" id="img" readonly class="am-input-sm" />
		</div>
	</div>
</div>



<form id="form1" method="post" target="frameFilebuy" action="http://upload.qiniu.com/" enctype="multipart/form-data">
<div class="am-form-file" style="margin-left: 20px;margin-top:20px;">
	<button type="button" class="am-btn am-btn-default am-btn-sm">
		<i class="am-icon-cloud-upload"></i> 领队图片上传
	</button>
  <input name="file" name="fileUpbuy" type="file" onChange="UploadBuy()" />
</div>
  
  <input name="key" type="hidden">
  <input name="token" type="hidden" value="<%=uploadToken%>">
</form>
<iframe id="frameFile" name="frameFilebuy" style="display:none"></iframe>

<div id="file_div" style="margin-left: 20px;margin-top:20px;"></div>

<div class="am-margin">
	<button type="button" onclick="saveForm('leader')" class="btn-c am-btn am-btn-primary am-btn-xs">保存</button>
	<button type="button" onclick="history.go('-1');" class="btn-c am-btn am-btn-primary am-btn-xs">关闭</button>
</div>
<script>
	/*
	var editor;
	var options = {
		uploadJson: '/uploadImg',
		height: 500
	};
	KindEditor.ready(function(k) {
		editor = k.create('#post', options);
		var mode = window.sessionStorage.getItem('mode');
		if (mode == "edit") {
			var editid = window.sessionStorage.getItem("editid");
			$.ajax({
				type: "post",
				url: "news/getById",
				data: {
					id: editid
				},
				success: function(data) {
					$('#title').val(data[0].title);
					$('#source').val(data[0].source);
					$('#summary').val(data[0].summary);
					editor.html(data[0].post);
				}
			});
		}
	});*/
		var mode = window.sessionStorage.getItem('mode');
		if (mode == "edit") {
			var editid = window.sessionStorage.getItem("editid");
			$.ajax({
				type: "post",
				url: "leader/getById",
				data: {
					id: editid
				},
				success: function(data) {
					$('#name').val(data[0].name);
					$('#no').val(data[0].no);
					$('#tel').val(data[0].tel);
					$('#img').val(data[0].img);
					$('#weixin').val(data[0].weixin);
				}
			});
		}

		function UploadBuy(){
				var path = document.all.file.value;
				var arr1 = path.split("\\");
				//$('#img').val(arr1[arr1.length-1];);
				document.all.key.value = arr1[arr1.length-1];
				if(!path){return false;}
		        $('#form1').submit();
		        setTimeout(function() { 
		        	var f = $("#file_div").html();
		        	var s = $('#img').val();
		        	if(f == ""){
		        		f = "<img style='height:200px' src='http://oo6q63jiz.bkt.clouddn.com/"+arr1[arr1.length-1]+"' />";
		        		
		        	}else{
		        		f = f + "<img style='height:200px' src='http://oo6q63jiz.bkt.clouddn.com/"+arr1[arr1.length-1]+"' />";
		        	}	

		        	if(s==""){
						s = arr1[arr1.length-1];
		        	}else{
		        		s = s + ";" + arr1[arr1.length-1];
		        	}
		        	$("#file_div").html(f);
		        	$('#img').val(s);
		        }, 2000);
		}
</script>