<div class="am-cf am-padding">
	<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">邮轮领队表</strong> / <small>表单</small></div>
</div>
<div class="am-form bg-form">

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			姓名
			<input type="text" id="name" class="am-input-sm" />
		</div>
	</div>
	
	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			领队证号
			<input type="text" id="no" class="am-input-sm" />
		</div>
	</div>

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			电话
			<input type="text" id="tel" class="am-input-sm" />
		</div>
	</div>

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			微信
			<input type="text" id="weixin" class="am-input-sm" />
		</div>
	</div>

	<div class="am-g am-margin-top">
		<div class="am-u-sm-12 am-u-md-12">
			图片
			<input type="text" id="img" class="am-input-sm" />
		</div>
	</div>
</div>

<div class="am-margin">
	<button type="button" onclick="saveForm('leader')" class="btn-c am-btn am-btn-primary am-btn-xs">保存</button>
	<button type="button" onclick="history.go('-1');" class="btn-c am-btn am-btn-primary am-btn-xs">关闭</button>
</div>
<script>
	/*
	var editor;
	var options = {
		uploadJson: '/uploadImg',
		height: 500
	};
	KindEditor.ready(function(k) {
		editor = k.create('#post', options);
		var mode = window.sessionStorage.getItem('mode');
		if (mode == "edit") {
			var editid = window.sessionStorage.getItem("editid");
			$.ajax({
				type: "post",
				url: "news/getById",
				data: {
					id: editid
				},
				success: function(data) {
					$('#title').val(data[0].title);
					$('#source').val(data[0].source);
					$('#summary').val(data[0].summary);
					editor.html(data[0].post);
				}
			});
		}
	});*/
		var mode = window.sessionStorage.getItem('mode');
		if (mode == "edit") {
			var editid = window.sessionStorage.getItem("editid");
			$.ajax({
				type: "post",
				url: "leader/getById",
				data: {
					id: editid
				},
				success: function(data) {
					$('#name').val(data[0].name);
					$('#no').val(data[0].no);
					$('#tel').val(data[0].tel);
					$('#img').val(data[0].img);
					$('#weixin').val(data[0].weixin);
				}
			});
		}
</script>