<div ui-view="nav"></div>
<div class="center content_page">
	<div class="page_left">
		<div class="nav_navigate" ng-controller="NavController">
			<dl>
				<dt>
					<a ng-click="ServicesTo(-1)" class="active" ui-sref="index.services.query">
						船票查询
					</a>
					<div class="nav_shadow"></div>
				</dt>
				<dt>
					游客须知
					<img src="../../src/image/zk.png" alt="" />
					<div class="nav_shadow"></div>
				</dt>
				<dd>
					<ul>
						<li>
							<a ng-click="ServicesTo(1)" ui-sref="index.services.note">
								游客注意事项
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(2)" ui-sref="index.services.guide">
								港口指南
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(3)" ui-sref="index.services.boarding">
								登离船流程
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(4)" ui-sref="index.services.immigration">
								边检政策
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(5)" ui-sref="index.services.customs">
								海关政策
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(6)" ui-sref="index.services.inspection">
								检验检疫政策
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(7)" ui-sref="index.services.tourism">
								旅游局政策
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
					</ul>
				</dd>
				<dt>
					行前服务
					<img src="../../src/image/zk.png" alt="" />
					<div class="nav_shadow"></div>
				</dt>
				<dd>
					<ul>
						<li>
							<a ng-click="ServicesTo(8)" ui-sref="index.services.bus">
								巴士服务
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="navigateTo(9)" ui-sref="index.services.insurance">
								保险服务
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
					</ul>
				</dd>
				<dt>
					港口服务
					<img src="../../src/image/zk.png" alt="" />
					<div class="nav_shadow"></div>
				</dt>
				<dd>
					<ul>
						<li>
							<a ng-click="ServicesTo(10)" ui-sref="index.services.cal">
								航班查询
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(11)" ui-sref="index.services.traffic">
								港口交通
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(12)" ui-sref="index.services.parking">
								停车服务
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(13)" ui-sref="index.services.vip">
								贵宾服务
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(14)" ui-sref="index.services.wifi">
								WIFI租赁
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(15)" ui-sref="index.services.luggage">
								行李服务
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
						<li>
							<a ng-click="ServicesTo(16)" ui-sref="index.services.currency">
								外币兑换
								<img src="../../src/image/read-select.png" alt="" />
							</a>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
	<div class="page_right" ng-controller="listController">
		<div ui-view></div>
	</div>
	<div style="clear:both"></div>
</div>